.secondPage{
    width: 100%;
    display: flex;
    padding: 0 10px;
}

.treeComp{
    width: 20%;
    border: 1px solid teal;
}

.tableComp{
    width: 80%;
    border: 1px solid cyan;
    margin-left: 10px;
}

.Actions{
    width: 50px;
    display: flex;
    justify-content: space-between;
}